body
   background-color #000
   text-align center
a, a:visited
   color #fff
.title
   padding 10px
   font-size 2em
   font-family sans-serif
   font-weight bold
   letter-spacing 2px
   color #fff
.gallery
   position relative
   .sorting
      margin-bottom 20px
      background-color rgba(69, 93, 113, .3)
      h2
         width 90%
         max-width 700px
         margin 0px auto
         padding 10px 0px
         border-bottom 1px solid #455d71
         color #455d71
         font-style italic
      .sort-options
         padding 10px 0px 10px 0px
         line-height 24px
      a
         color #aaa
         font-size .85em
         text-decoration none
         text-transform uppercase
         padding 3px 20px 3px 20px
      a:hover
         color #fff
      a.selected
         color #eee
         font-weight bold
.photos
   max-width 700px
   margin 0px auto
   .thumbnail_container
      position relative
      a.thumbnail
         position absolute
      a.thumbnail img
         width 75px
         height 75px
         border 1px solid #aaa


